.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: .4vw;
    height: .4vw;
    margin: -.2vw 0 0 9.8vw;
    animation: 200s infinite alternate
}

.firefly::after,.firefly::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw
}

.firefly::before {
    background: #000;
    opacity: .4;
    animation: infinite alternate drift
}

.firefly::after {
    background: #fff;
    opacity: 0;
    box-shadow: 0 0 0 0 #fff;
    animation: infinite alternate drift,infinite flash
}

.card-main,.crm .splide .inner,.methods-card,.online-card,.reviews-slider .inner {
    box-shadow: 0 4px 12px rgba(0,0,0,.04)
}

.firefly:first-child {
    animation-name: move1
}

.firefly:first-child::before,.firefly:nth-child(3)::before {
    animation-duration: 16s
}

.firefly:first-child::after {
    animation-duration: 16s,8387ms;
    animation-delay: 0s,5723ms
}

@keyframes rotate {
	100% {
		transform: rotate(-1turn);
	}
}

@keyframes move1 {
    0% {
        transform: translateX(25vw) translateY(28vh) scale(.7)
    }

    5.2631578947% {
        transform: translateX(-41vw) translateY(-4vh) scale(.31)
    }

    10.5263157895% {
        transform: translateX(10vw) translateY(46vh) scale(.63)
    }

    15.7894736842% {
        transform: translateX(-14vw) translateY(-27vh) scale(.83)
    }

    21.0526315789% {
        transform: translateX(-12vw) translateY(47vh) scale(.34)
    }

    26.3157894737% {
        transform: translateX(30vw) translateY(18vh) scale(.61)
    }

    31.5789473684% {
        transform: translateX(-6vw) translateY(45vh) scale(.89)
    }

    36.8421052632% {
        transform: translateX(-45vw) translateY(39vh) scale(.75)
    }

    42.1052631579% {
        transform: translateX(-7vw) translateY(-39vh) scale(.38)
    }

    47.3684210526% {
        transform: translateX(31vw) translateY(-17vh) scale(.28)
    }

    52.6315789474% {
        transform: translateX(-49vw) translateY(24vh) scale(.27)
    }

    57.8947368421% {
        transform: translateX(48vw) translateY(-46vh) scale(.65)
    }

    63.1578947368% {
        transform: translateX(-1vw) translateY(-42vh) scale(.94)
    }

    68.4210526316% {
        transform: translateX(-34vw) translateY(38vh) scale(.77)
    }

    73.6842105263% {
        transform: translateX(34vw) translateY(-13vh) scale(.64)
    }

    78.9473684211% {
        transform: translateX(-5vw) translateY(-34vh) scale(.55)
    }

    84.2105263158% {
        transform: translateX(19vw) translateY(-3vh) scale(.43)
    }

    89.4736842105% {
        transform: translateX(1vw) translateY(26vh) scale(.91)
    }

    94.7368421053% {
        transform: translateX(26vw) translateY(-47vh) scale(.95)
    }

    100% {
        transform: translateX(-49vw) translateY(10vh) scale(.38)
    }
}

.firefly:nth-child(2) {
    animation-name: move2
}

.firefly:nth-child(13)::before,.firefly:nth-child(2)::before,.firefly:nth-child(7)::before {
    animation-duration: 11s
}

.firefly:nth-child(2)::after {
    animation-duration: 11s,9114ms;
    animation-delay: 0s,811ms
}

@keyframes move2 {
    0% {
        transform: translateX(-45vw) translateY(-49vh) scale(.44)
    }

    4.1666666667% {
        transform: translateX(49vw) translateY(-27vh) scale(.5)
    }

    8.3333333333% {
        transform: translateX(-33vw) translateY(39vh) scale(.94)
    }

    12.5% {
        transform: translateX(-12vw) translateY(-18vh) scale(.71)
    }

    16.6666666667% {
        transform: translateX(26vw) translateY(5vh) scale(.62)
    }

    20.8333333333% {
        transform: translateX(37vw) translateY(-47vh) scale(.75)
    }

    25% {
        transform: translateX(32vw) translateY(33vh) scale(.57)
    }

    29.1666666667% {
        transform: translateX(25vw) translateY(-7vh) scale(.53)
    }

    33.3333333333% {
        transform: translateX(14vw) translateY(37vh) scale(.99)
    }

    37.5% {
        transform: translateX(31vw) translateY(-16vh) scale(.94)
    }

    41.6666666667% {
        transform: translateX(16vw) translateY(50vh) scale(.94)
    }

    45.8333333333% {
        transform: translateX(24vw) translateY(46vh) scale(.27)
    }

    50% {
        transform: translateX(36vw) translateY(14vh) scale(.47)
    }

    54.1666666667% {
        transform: translateX(14vw) translateY(-25vh) scale(.94)
    }

    58.3333333333% {
        transform: translateX(-23vw) translateY(4vh) scale(.51)
    }

    62.5% {
        transform: translateX(15vw) translateY(24vh) scale(.76)
    }

    66.6666666667% {
        transform: translateX(50vw) translateY(40vh) scale(.69)
    }

    70.8333333333% {
        transform: translateX(-29vw) translateY(-32vh) scale(.65)
    }

    75% {
        transform: translateX(-34vw) translateY(28vh) scale(.73)
    }

    79.1666666667% {
        transform: translateX(11vw) translateY(-14vh) scale(.62)
    }

    83.3333333333% {
        transform: translateX(-48vw) translateY(-39vh) scale(.95)
    }

    87.5% {
        transform: translateX(-40vw) translateY(17vh) scale(.33)
    }

    91.6666666667% {
        transform: translateX(-42vw) translateY(-41vh) scale(.84)
    }

    95.8333333333% {
        transform: translateX(47vw) translateY(10vh) scale(.72)
    }

    100% {
        transform: translateX(22vw) translateY(16vh) scale(.28)
    }
}

.firefly:nth-child(3) {
    animation-name: move3
}

.firefly:nth-child(3)::after {
    animation-duration: 16s,5.22s;
    animation-delay: 0s,3759ms
}

@keyframes move3 {
    0% {
        transform: translateX(-42vw) translateY(-3vh) scale(.43)
    }

    5.2631578947% {
        transform: translateX(-45vw) translateY(-31vh) scale(.87)
    }

    10.5263157895% {
        transform: translateX(-31vw) translateY(-1vh) scale(.65)
    }

    15.7894736842% {
        transform: translateX(-37vw) translateY(-47vh) scale(1)
    }

    21.0526315789% {
        transform: translateX(43vw) translateY(-40vh) scale(.59)
    }

    26.3157894737% {
        transform: translateX(-22vw) translateY(50vh) scale(.4)
    }

    31.5789473684% {
        transform: translateX(-11vw) translateY(-32vh) scale(.64)
    }

    36.8421052632% {
        transform: translateX(44vw) translateY(46vh) scale(.28)
    }

    42.1052631579% {
        transform: translateX(-45vw) translateY(-36vh) scale(.69)
    }

    47.3684210526% {
        transform: translateX(42vw) translateY(-34vh) scale(.59)
    }

    52.6315789474% {
        transform: translateX(-32vw) translateY(7vh) scale(.71)
    }

    57.8947368421% {
        transform: translateX(-19vw) translateY(34vh) scale(.86)
    }

    63.1578947368% {
        transform: translateX(22vw) translateY(-11vh) scale(.44)
    }

    68.4210526316% {
        transform: translateX(19vw) translateY(-2vh) scale(.44)
    }

    73.6842105263% {
        transform: translateX(-17vw) translateY(19vh) scale(.27)
    }

    78.9473684211% {
        transform: translateX(-1vw) translateY(40vh) scale(.29)
    }

    84.2105263158% {
        transform: translateX(-40vw) translateY(14vh) scale(.58)
    }

    89.4736842105% {
        transform: translateX(39vw) translateY(49vh) scale(.26)
    }

    94.7368421053% {
        transform: translateX(-38vw) translateY(5vh) scale(.96)
    }

    100% {
        transform: translateX(-26vw) translateY(6vh) scale(.7)
    }
}

.firefly:nth-child(4) {
    animation-name: move4
}

.firefly:nth-child(4)::before,.firefly:nth-child(8)::before {
    animation-duration: 10s
}

.firefly:nth-child(4)::after {
    animation-duration: 10s,10689ms;
    animation-delay: 0s,7589ms
}

@keyframes move4 {
    0% {
        transform: translateX(13vw) translateY(-25vh) scale(.29)
    }

    4% {
        transform: translateX(21vw) translateY(-25vh) scale(.34)
    }

    8% {
        transform: translateX(14vw) translateY(-32vh) scale(.44)
    }

    12% {
        transform: translateX(-9vw) translateY(43vh) scale(.99)
    }

    16% {
        transform: translateX(21vw) translateY(5vh) scale(.73)
    }

    20% {
        transform: translateX(11vw) translateY(-29vh) scale(.77)
    }

    24% {
        transform: translateX(-36vw) translateY(-37vh) scale(.28)
    }

    28% {
        transform: translateX(-8vw) translateY(5vh) scale(.76)
    }

    32% {
        transform: translateX(10vw) translateY(19vh) scale(.89)
    }

    36% {
        transform: translateX(48vw) translateY(48vh) scale(.94)
    }

    40% {
        transform: translateX(33vw) translateY(-29vh) scale(.77)
    }

    44% {
        transform: translateX(-24vw) translateY(-30vh) scale(.36)
    }

    48% {
        transform: translateX(-6vw) translateY(-27vh) scale(.81)
    }

    52% {
        transform: translateX(-13vw) translateY(3vh) scale(.46)
    }

    56% {
        transform: translateX(39vw) translateY(23vh) scale(.41)
    }

    60% {
        transform: translateX(-18vw) translateY(26vh) scale(.84)
    }

    64% {
        transform: translateX(45vw) translateY(49vh) scale(.42)
    }

    68% {
        transform: translateX(42vw) translateY(-13vh) scale(.94)
    }

    72% {
        transform: translateX(12vw) translateY(-32vh) scale(.45)
    }

    76% {
        transform: translateX(45vw) translateY(1vh) scale(.63)
    }

    80% {
        transform: translateX(-39vw) translateY(38vh) scale(.83)
    }

    84% {
        transform: translateX(10vw) translateY(-13vh) scale(.91)
    }

    88% {
        transform: translateX(-38vw) translateY(4vh) scale(.83)
    }

    92% {
        transform: translateX(-24vw) translateY(-48vh) scale(.8)
    }

    96% {
        transform: translateX(22vw) translateY(-36vh) scale(.29)
    }

    100% {
        transform: translateX(-41vw) translateY(3vh) scale(.39)
    }
}

.firefly:nth-child(5) {
    animation-name: move5
}

.firefly:nth-child(14)::before,.firefly:nth-child(5)::before {
    animation-duration: 17s
}

.firefly:nth-child(5)::after {
    animation-duration: 17s,10946ms;
    animation-delay: 0s,5137ms
}

@keyframes move5 {
    0% {
        transform: translateX(-8vw) translateY(-41vh) scale(.63)
    }

    5.2631578947% {
        transform: translateX(30vw) translateY(-16vh) scale(.65)
    }

    10.5263157895% {
        transform: translateX(-28vw) translateY(-29vh) scale(.37)
    }

    15.7894736842% {
        transform: translateX(48vw) translateY(-44vh) scale(.6)
    }

    21.0526315789% {
        transform: translateX(6vw) translateY(-26vh) scale(.46)
    }

    26.3157894737% {
        transform: translateX(-30vw) translateY(-21vh) scale(.75)
    }

    31.5789473684% {
        transform: translateX(13vw) translateY(-8vh) scale(.7)
    }

    36.8421052632% {
        transform: translateX(18vw) translateY(-1vh) scale(.82)
    }

    42.1052631579% {
        transform: translateX(-14vw) translateY(-23vh) scale(.62)
    }

    47.3684210526% {
        transform: translateX(14vw) translateY(-15vh) scale(.47)
    }

    52.6315789474% {
        transform: translateX(-12vw) translateY(-31vh) scale(.47)
    }

    57.8947368421% {
        transform: translateX(48vw) translateY(-17vh) scale(.43)
    }

    63.1578947368% {
        transform: translateX(6vw) translateY(50vh) scale(.4)
    }

    68.4210526316% {
        transform: translateX(-49vw) translateY(46vh) scale(.75)
    }

    73.6842105263% {
        transform: translateX(-21vw) translateY(4vh) scale(.63)
    }

    78.9473684211% {
        transform: translateX(19vw) translateY(35vh) scale(.74)
    }

    84.2105263158% {
        transform: translateX(-35vw) translateY(10vh) scale(.49)
    }

    89.4736842105% {
        transform: translateX(-6vw) translateY(12vh) scale(.62)
    }

    94.7368421053% {
        transform: translateX(45vw) translateY(-20vh) scale(.44)
    }

    100% {
        transform: translateX(32vw) translateY(-15vh) scale(.82)
    }
}

.firefly:nth-child(6) {
    animation-name: move6
}

.firefly:nth-child(10)::before,.firefly:nth-child(11)::before,.firefly:nth-child(6)::before {
    animation-duration: 9s
}

.firefly:nth-child(6)::after {
    animation-duration: 9s,6741ms;
    animation-delay: 0s,6194ms
}

@keyframes move6 {
    0% {
        transform: translateX(-23vw) translateY(-35vh) scale(.7)
    }

    3.7037037037% {
        transform: translateX(25vw) translateY(-16vh) scale(.64)
    }

    7.4074074074% {
        transform: translateX(40vw) translateY(29vh) scale(.99)
    }

    11.1111111111% {
        transform: translateX(46vw) translateY(-47vh) scale(.63)
    }

    14.8148148148% {
        transform: translateX(-5vw) translateY(-40vh) scale(.91)
    }

    18.5185185185% {
        transform: translateX(-33vw) translateY(-14vh) scale(.41)
    }

    22.2222222222% {
        transform: translateX(40vw) translateY(-23vh) scale(.66)
    }

    25.9259259259% {
        transform: translateX(-43vw) translateY(-37vh) scale(.66)
    }

    29.6296296296% {
        transform: translateX(-8vw) translateY(1vh) scale(.91)
    }

    33.3333333333% {
        transform: translateX(-30vw) translateY(41vh) scale(.49)
    }

    37.037037037% {
        transform: translateX(-24vw) translateY(-8vh) scale(.97)
    }

    40.7407407407% {
        transform: translateX(-28vw) translateY(-26vh) scale(.75)
    }

    44.4444444444% {
        transform: translateX(45vw) translateY(33vh) scale(.32)
    }

    48.1481481481% {
        transform: translateX(-8vw) translateY(29vh) scale(.43)
    }

    51.8518518519% {
        transform: translateX(33vw) translateY(16vh) scale(.99)
    }

    55.5555555556% {
        transform: translateX(33vw) translateY(24vh) scale(.91)
    }

    59.2592592593% {
        transform: translateX(-20vw) translateY(-11vh) scale(.81)
    }

    62.962962963% {
        transform: translateX(-36vw) translateY(36vh) scale(.71)
    }

    66.6666666667% {
        transform: translateX(47vw) translateY(41vh) scale(.91)
    }

    70.3703703704% {
        transform: translateX(8vw) translateY(-4vh) scale(.73)
    }

    74.0740740741% {
        transform: translateX(-3vw) translateY(14vh) scale(.79)
    }

    77.7777777778% {
        transform: translateX(42vw) translateY(2vh) scale(.5)
    }

    81.4814814815% {
        transform: translateX(50vw) translateY(7vh) scale(.37)
    }

    85.1851851852% {
        transform: translateX(39vw) translateY(32vh) scale(.93)
    }

    88.8888888889% {
        transform: translateX(4vw) translateY(22vh) scale(.92)
    }

    92.5925925926% {
        transform: translateX(31vw) translateY(10vh) scale(.78)
    }

    96.2962962963% {
        transform: translateX(29vw) translateY(1vh) scale(.55)
    }

    100% {
        transform: translateX(0) translateY(-6vh) scale(.39)
    }
}

.firefly:nth-child(7) {
    animation-name: move7
}

.firefly:nth-child(7)::after {
    animation-duration: 11s,10936ms;
    animation-delay: 0s,7364ms
}

@keyframes move7 {
    0% {
        transform: translateX(-16vw) translateY(20vh) scale(.74)
    }

    4.347826087% {
        transform: translateX(30vw) translateY(6vh) scale(.45)
    }

    8.6956521739% {
        transform: translateX(9vw) translateY(29vh) scale(.51)
    }

    13.0434782609% {
        transform: translateX(20vw) translateY(-23vh) scale(.74)
    }

    17.3913043478% {
        transform: translateX(49vw) translateY(-40vh) scale(.4)
    }

    21.7391304348% {
        transform: translateX(-31vw) translateY(-42vh) scale(.73)
    }

    26.0869565217% {
        transform: translateX(40vw) translateY(8vh) scale(.84)
    }

    30.4347826087% {
        transform: translateX(-5vw) translateY(21vh) scale(.99)
    }

    34.7826086957% {
        transform: translateX(15vw) translateY(12vh) scale(.36)
    }

    39.1304347826% {
        transform: translateX(-42vw) translateY(5vh) scale(.65)
    }

    43.4782608696% {
        transform: translateX(28vw) translateY(-30vh) scale(.85)
    }

    47.8260869565% {
        transform: translateX(14vw) translateY(20vh) scale(.27)
    }

    52.1739130435% {
        transform: translateX(25vw) translateY(-6vh) scale(.45)
    }

    56.5217391304% {
        transform: translateX(-8vw) translateY(-40vh) scale(.67)
    }

    60.8695652174% {
        transform: translateX(-49vw) translateY(45vh) scale(.95)
    }

    65.2173913043% {
        transform: translateX(4vw) translateY(4vh) scale(.31)
    }

    69.5652173913% {
        transform: translateX(10vw) translateY(34vh) scale(.45)
    }

    73.9130434783% {
        transform: translateX(-18vw) translateY(6vh) scale(.55)
    }

    78.2608695652% {
        transform: translateX(-22vw) translateY(15vh) scale(.94)
    }

    82.6086956522% {
        transform: translateX(14vw) translateY(33vh) scale(.43)
    }

    86.9565217391% {
        transform: translateX(-45vw) translateY(26vh) scale(.6)
    }

    91.3043478261% {
        transform: translateX(-28vw) translateY(5vh) scale(.54)
    }

    95.652173913% {
        transform: translateX(14vw) translateY(22vh) scale(.91)
    }

    100% {
        transform: translateX(35vw) translateY(28vh) scale(.56)
    }
}

.firefly:nth-child(8) {
    animation-name: move8
}

.firefly:nth-child(8)::after {
    animation-duration: 10s,9304ms;
    animation-delay: 0s,6668ms
}

@keyframes move8 {
    0% {
        transform: translateX(21vw) translateY(49vh) scale(.72)
    }

    4.347826087% {
        transform: translateX(0) translateY(41vh) scale(.99)
    }

    8.6956521739% {
        transform: translateX(14vw) translateY(6vh) scale(.51)
    }

    13.0434782609% {
        transform: translateX(-25vw) translateY(49vh) scale(.29)
    }

    17.3913043478% {
        transform: translateX(40vw) translateY(26vh) scale(.4)
    }

    21.7391304348% {
        transform: translateX(1vw) translateY(2vh) scale(.76)
    }

    26.0869565217% {
        transform: translateX(50vw) translateY(40vh) scale(.66)
    }

    30.4347826087% {
        transform: translateX(-20vw) translateY(-22vh) scale(.49)
    }

    34.7826086957% {
        transform: translateX(-4vw) translateY(25vh) scale(.78)
    }

    39.1304347826% {
        transform: translateX(49vw) translateY(40vh) scale(.88)
    }

    43.4782608696% {
        transform: translateX(33vw) translateY(43vh) scale(.46)
    }

    47.8260869565% {
        transform: translateX(25vw) translateY(36vh) scale(.71)
    }

    52.1739130435% {
        transform: translateX(21vw) translateY(49vh) scale(.31)
    }

    56.5217391304% {
        transform: translateX(15vw) translateY(-1vh) scale(.42)
    }

    60.8695652174% {
        transform: translateX(23vw) translateY(-11vh) scale(.42)
    }

    65.2173913043% {
        transform: translateX(34vw) translateY(-14vh) scale(.74)
    }

    69.5652173913% {
        transform: translateX(-22vw) translateY(-44vh) scale(.69)
    }

    73.9130434783% {
        transform: translateX(-48vw) translateY(-33vh) scale(.36)
    }

    78.2608695652% {
        transform: translateX(4vw) translateY(40vh) scale(.34)
    }

    82.6086956522% {
        transform: translateX(-21vw) translateY(20vh) scale(.57)
    }

    86.9565217391% {
        transform: translateX(18vw) translateY(-13vh) scale(.95)
    }

    91.3043478261% {
        transform: translateX(-30vw) translateY(19vh) scale(.93)
    }

    95.652173913% {
        transform: translateX(-28vw) translateY(32vh) scale(.78)
    }

    100% {
        transform: translateX(-39vw) translateY(35vh) scale(.96)
    }
}

.firefly:nth-child(9) {
    animation-name: move9
}

.firefly:nth-child(9)::before {
    animation-duration: 12s
}

.firefly:nth-child(9)::after {
    animation-duration: 12s,10431ms;
    animation-delay: 0s,5339ms
}

@keyframes move9 {
    0% {
        transform: translateX(-46vw) translateY(19vh) scale(.29)
    }

    4% {
        transform: translateX(-11vw) translateY(3vh) scale(.35)
    }

    8% {
        transform: translateX(27vw) translateY(-46vh) scale(.58)
    }

    12% {
        transform: translateX(42vw) translateY(-27vh) scale(.81)
    }

    16% {
        transform: translateX(39vw) translateY(22vh) scale(.46)
    }

    20% {
        transform: translateX(-36vw) translateY(-27vh) scale(.85)
    }

    24% {
        transform: translateX(-31vw) translateY(31vh) scale(.95)
    }

    28% {
        transform: translateX(44vw) translateY(49vh) scale(.48)
    }

    32% {
        transform: translateX(14vw) translateY(40vh) scale(.54)
    }

    36% {
        transform: translateX(-20vw) translateY(29vh) scale(.54)
    }

    40% {
        transform: translateX(42vw) translateY(-36vh) scale(.68)
    }

    44% {
        transform: translateX(38vw) translateY(4vh) scale(.51)
    }

    48% {
        transform: translateX(23vw) translateY(-43vh) scale(.29)
    }

    52% {
        transform: translateX(-32vw) translateY(-4vh) scale(.33)
    }

    56% {
        transform: translateX(15vw) translateY(37vh) scale(.34)
    }

    60% {
        transform: translateX(40vw) translateY(44vh) scale(.46)
    }

    64% {
        transform: translateX(-9vw) translateY(-4vh) scale(.42)
    }

    68% {
        transform: translateX(10vw) translateY(10vh) scale(.28)
    }

    72% {
        transform: translateX(-46vw) translateY(12vh) scale(.82)
    }

    76% {
        transform: translateX(36vw) translateY(-6vh) scale(.89)
    }

    80% {
        transform: translateX(50vw) translateY(-40vh) scale(.27)
    }

    84% {
        transform: translateX(1vw) translateY(-47vh) scale(.66)
    }

    88% {
        transform: translateX(9vw) translateY(3vh) scale(.83)
    }

    92% {
        transform: translateX(-1vw) translateY(22vh) scale(.62)
    }

    96% {
        transform: translateX(0) translateY(16vh) scale(.91)
    }

    100% {
        transform: translateX(28vw) translateY(-7vh) scale(.53)
    }
}

.firefly:nth-child(10) {
    animation-name: move10
}

.firefly:nth-child(10)::after {
    animation-duration: 9s,9386ms;
    animation-delay: 0s,3574ms
}

@keyframes move10 {
    0% {
        transform: translateX(-15vw) translateY(-44vh) scale(.34)
    }

    4% {
        transform: translateX(-1vw) translateY(7vh) scale(.9)
    }

    8% {
        transform: translateX(-15vw) translateY(0) scale(.68)
    }

    12% {
        transform: translateX(16vw) translateY(24vh) scale(.6)
    }

    16% {
        transform: translateX(-35vw) translateY(-19vh) scale(.46)
    }

    20% {
        transform: translateX(19vw) translateY(13vh) scale(.26)
    }

    24% {
        transform: translateX(23vw) translateY(-31vh) scale(.4)
    }

    28% {
        transform: translateX(-3vw) translateY(34vh) scale(.65)
    }

    32% {
        transform: translateX(47vw) translateY(49vh) scale(.53)
    }

    36% {
        transform: translateX(-6vw) translateY(-4vh) scale(.27)
    }

    40% {
        transform: translateX(2vw) translateY(-13vh) scale(.86)
    }

    44% {
        transform: translateX(-11vw) translateY(-49vh) scale(1)
    }

    48% {
        transform: translateX(5vw) translateY(19vh) scale(.84)
    }

    52% {
        transform: translateX(-37vw) translateY(-35vh) scale(.69)
    }

    56% {
        transform: translateX(-12vw) translateY(-32vh) scale(.28)
    }

    60% {
        transform: translateX(-2vw) translateY(43vh) scale(.7)
    }

    64% {
        transform: translateX(-19vw) translateY(-3vh) scale(.46)
    }

    68% {
        transform: translateX(-45vw) translateY(-44vh) scale(.83)
    }

    72% {
        transform: translateX(-43vw) translateY(-42vh) scale(.46)
    }

    76% {
        transform: translateX(44vw) translateY(13vh) scale(.67)
    }

    80% {
        transform: translateX(-8vw) translateY(12vh) scale(.65)
    }

    84% {
        transform: translateX(-25vw) translateY(37vh) scale(.4)
    }

    88% {
        transform: translateX(-36vw) translateY(17vh) scale(.42)
    }

    92% {
        transform: translateX(-3vw) translateY(19vh) scale(.94)
    }

    96% {
        transform: translateX(50vw) translateY(11vh) scale(.31)
    }

    100% {
        transform: translateX(-26vw) translateY(5vh) scale(.29)
    }
}

.firefly:nth-child(11) {
    animation-name: move11
}

.firefly:nth-child(11)::after {
    animation-duration: 9s,9568ms;
    animation-delay: 0s,2341ms
}

@keyframes move11 {
    0% {
        transform: translateX(46vw) translateY(-19vh) scale(.36)
    }

    4.347826087% {
        transform: translateX(0) translateY(5vh) scale(.93)
    }

    8.6956521739% {
        transform: translateX(47vw) translateY(7vh) scale(.37)
    }

    13.0434782609% {
        transform: translateX(-32vw) translateY(-6vh) scale(.97)
    }

    17.3913043478% {
        transform: translateX(-33vw) translateY(-30vh) scale(.52)
    }

    21.7391304348% {
        transform: translateX(4vw) translateY(30vh) scale(.52)
    }

    26.0869565217% {
        transform: translateX(-29vw) translateY(18vh) scale(.7)
    }

    30.4347826087% {
        transform: translateX(-30vw) translateY(-4vh) scale(.61)
    }

    34.7826086957% {
        transform: translateX(-2vw) translateY(14vh) scale(.38)
    }

    39.1304347826% {
        transform: translateX(40vw) translateY(31vh) scale(.9)
    }

    43.4782608696% {
        transform: translateX(4vw) translateY(16vh) scale(.91)
    }

    47.8260869565% {
        transform: translateX(5vw) translateY(-30vh) scale(.59)
    }

    52.1739130435% {
        transform: translateX(42vw) translateY(-35vh) scale(.64)
    }

    56.5217391304% {
        transform: translateX(-13vw) translateY(47vh) scale(.32)
    }

    60.8695652174% {
        transform: translateX(-21vw) translateY(-44vh) scale(.34)
    }

    65.2173913043% {
        transform: translateX(-19vw) translateY(-47vh) scale(.41)
    }

    69.5652173913% {
        transform: translateX(-26vw) translateY(11vh) scale(.35)
    }

    73.9130434783% {
        transform: translateX(20vw) translateY(8vh) scale(.72)
    }

    78.2608695652% {
        transform: translateX(27vw) translateY(-17vh) scale(.82)
    }

    82.6086956522% {
        transform: translateX(46vw) translateY(19vh) scale(.69)
    }

    86.9565217391% {
        transform: translateX(-29vw) translateY(17vh) scale(.26)
    }

    91.3043478261% {
        transform: translateX(-2vw) translateY(-26vh) scale(.62)
    }

    95.652173913% {
        transform: translateX(-30vw) translateY(42vh) scale(.75)
    }

    100% {
        transform: translateX(-41vw) translateY(14vh) scale(.96)
    }
}

.firefly:nth-child(12) {
    animation-name: move12
}

.firefly:nth-child(12)::before {
    animation-duration: 13s
}

.firefly:nth-child(12)::after {
    animation-duration: 13s,10823ms;
    animation-delay: 0s,6011ms
}

@keyframes move12 {
    0% {
        transform: translateX(-3vw) translateY(-46vh) scale(.87)
    }

    3.5714285714% {
        transform: translateX(-35vw) translateY(30vh) scale(.28)
    }

    7.1428571429% {
        transform: translateX(27vw) translateY(-8vh) scale(.85)
    }

    10.7142857143% {
        transform: translateX(28vw) translateY(32vh) scale(.72)
    }

    14.2857142857% {
        transform: translateX(0) translateY(0) scale(.87)
    }

    17.8571428571% {
        transform: translateX(33vw) translateY(28vh) scale(.75)
    }

    21.4285714286% {
        transform: translateX(-18vw) translateY(11vh) scale(.85)
    }

    25% {
        transform: translateX(-2vw) translateY(-26vh) scale(.64)
    }

    28.5714285714% {
        transform: translateX(-41vw) translateY(-5vh) scale(.59)
    }

    32.1428571429% {
        transform: translateX(-40vw) translateY(-10vh) scale(.55)
    }

    35.7142857143% {
        transform: translateX(-5vw) translateY(47vh) scale(.51)
    }

    39.2857142857% {
        transform: translateX(42vw) translateY(-43vh) scale(.28)
    }

    42.8571428571% {
        transform: translateX(27vw) translateY(-19vh) scale(.58)
    }

    46.4285714286% {
        transform: translateX(-27vw) translateY(-19vh) scale(.35)
    }

    50% {
        transform: translateX(-41vw) translateY(-3vh) scale(.89)
    }

    53.5714285714% {
        transform: translateX(-12vw) translateY(47vh) scale(.61)
    }

    57.1428571429% {
        transform: translateX(16vw) translateY(28vh) scale(.56)
    }

    60.7142857143% {
        transform: translateX(47vw) translateY(26vh) scale(.65)
    }

    64.2857142857% {
        transform: translateX(-22vw) translateY(31vh) scale(.35)
    }

    67.8571428571% {
        transform: translateX(22vw) translateY(-32vh) scale(.53)
    }

    71.4285714286% {
        transform: translateX(-35vw) translateY(-14vh) scale(.76)
    }

    75% {
        transform: translateX(41vw) translateY(-42vh) scale(.76)
    }

    78.5714285714% {
        transform: translateX(-36vw) translateY(26vh) scale(.92)
    }

    82.1428571429% {
        transform: translateX(24vw) translateY(-37vh) scale(.96)
    }

    85.7142857143% {
        transform: translateX(-42vw) translateY(23vh) scale(.38)
    }

    89.2857142857% {
        transform: translateX(-7vw) translateY(-20vh) scale(.5)
    }

    92.8571428571% {
        transform: translateX(19vw) translateY(-13vh) scale(.79)
    }

    96.4285714286% {
        transform: translateX(-26vw) translateY(14vh) scale(.7)
    }

    100% {
        transform: translateX(33vw) translateY(43vh) scale(.51)
    }
}

.firefly:nth-child(13) {
    animation-name: move13
}

.firefly:nth-child(13)::after {
    animation-duration: 11s,8665ms;
    animation-delay: 0s,6877ms
}

@keyframes move13 {
    0% {
        transform: translateX(-9vw) translateY(-47vh) scale(.58)
    }

    4.7619047619% {
        transform: translateX(-27vw) translateY(-32vh) scale(.57)
    }

    9.5238095238% {
        transform: translateX(-17vw) translateY(10vh) scale(.61)
    }

    14.2857142857% {
        transform: translateX(-23vw) translateY(49vh) scale(.58)
    }

    19.0476190476% {
        transform: translateX(29vw) translateY(-49vh) scale(.5)
    }

    23.8095238095% {
        transform: translateX(-36vw) translateY(-20vh) scale(.99)
    }

    28.5714285714% {
        transform: translateX(48vw) translateY(33vh) scale(.49)
    }

    33.3333333333% {
        transform: translateX(8vw) translateY(-31vh) scale(.87)
    }

    38.0952380952% {
        transform: translateX(43vw) translateY(1vh) scale(.63)
    }

    42.8571428571% {
        transform: translateX(21vw) translateY(20vh) scale(.5)
    }

    47.619047619% {
        transform: translateX(-17vw) translateY(-18vh) scale(.96)
    }

    52.380952381% {
        transform: translateX(10vw) translateY(45vh) scale(.42)
    }

    57.1428571429% {
        transform: translateX(-32vw) translateY(-26vh) scale(.46)
    }

    61.9047619048% {
        transform: translateX(-13vw) translateY(0) scale(.47)
    }

    66.6666666667% {
        transform: translateX(29vw) translateY(-16vh) scale(.7)
    }

    71.4285714286% {
        transform: translateX(-24vw) translateY(1vh) scale(.63)
    }

    76.1904761905% {
        transform: translateX(16vw) translateY(45vh) scale(.54)
    }

    80.9523809524% {
        transform: translateX(-10vw) translateY(42vh) scale(.99)
    }

    85.7142857143% {
        transform: translateX(19vw) translateY(23vh) scale(.84)
    }

    90.4761904762% {
        transform: translateX(25vw) translateY(-14vh) scale(.59)
    }

    95.2380952381% {
        transform: translateX(26vw) translateY(-31vh) scale(.9)
    }

    100% {
        transform: translateX(-21vw) translateY(16vh) scale(.69)
    }
}

.firefly:nth-child(14) {
    animation-name: move14
}

.firefly:nth-child(14)::after {
    animation-duration: 17s,6245ms;
    animation-delay: 0s,5835ms
}

@keyframes move14 {
    0% {
        transform: translateX(-24vw) translateY(19vh) scale(.41)
    }

    4.7619047619% {
        transform: translateX(44vw) translateY(-28vh) scale(.61)
    }

    9.5238095238% {
        transform: translateX(-7vw) translateY(0) scale(.94)
    }

    14.2857142857% {
        transform: translateX(-47vw) translateY(-45vh) scale(.9)
    }

    19.0476190476% {
        transform: translateX(-12vw) translateY(-14vh) scale(.81)
    }

    23.8095238095% {
        transform: translateX(20vw) translateY(-36vh) scale(.34)
    }

    28.5714285714% {
        transform: translateX(28vw) translateY(-48vh) scale(.33)
    }

    33.3333333333% {
        transform: translateX(-38vw) translateY(-2vh) scale(.76)
    }

    38.0952380952% {
        transform: translateX(34vw) translateY(47vh) scale(.98)
    }

    42.8571428571% {
        transform: translateX(23vw) translateY(11vh) scale(.77)
    }

    47.619047619% {
        transform: translateX(43vw) translateY(-27vh) scale(.27)
    }

    52.380952381% {
        transform: translateX(-8vw) translateY(-21vh) scale(.75)
    }

    57.1428571429% {
        transform: translateX(-28vw) translateY(-11vh) scale(1)
    }

    61.9047619048% {
        transform: translateX(-44vw) translateY(28vh) scale(.39)
    }

    66.6666666667% {
        transform: translateX(-4vw) translateY(-10vh) scale(1)
    }

    71.4285714286% {
        transform: translateX(28vw) translateY(7vh) scale(.77)
    }

    76.1904761905% {
        transform: translateX(21vw) translateY(33vh) scale(.7)
    }

    80.9523809524% {
        transform: translateX(8vw) translateY(33vh) scale(.59)
    }

    85.7142857143% {
        transform: translateX(-9vw) translateY(-8vh) scale(.54)
    }

    90.4761904762% {
        transform: translateX(8vw) translateY(24vh) scale(.31)
    }

    95.2380952381% {
        transform: translateX(36vw) translateY(30vh) scale(.47)
    }

    100% {
        transform: translateX(-15vw) translateY(-40vh) scale(.64)
    }
}

.firefly:nth-child(15) {
    animation-name: move15
}

.firefly:nth-child(15)::before {
    animation-duration: 18s
}

.firefly:nth-child(15)::after {
    animation-duration: 18s,10511ms;
    animation-delay: 0s,1913ms
}

@keyframes move15 {
    0% {
        transform: translateX(26vw) translateY(30vh) scale(.93)
    }

    4.1666666667% {
        transform: translateX(10vw) translateY(-27vh) scale(.69)
    }

    8.3333333333% {
        transform: translateX(20vw) translateY(-29vh) scale(.9)
    }

    12.5% {
        transform: translateX(-24vw) translateY(-45vh) scale(.3)
    }

    16.6666666667% {
        transform: translateX(-17vw) translateY(30vh) scale(.89)
    }

    20.8333333333% {
        transform: translateX(-30vw) translateY(-25vh) scale(.67)
    }

    25% {
        transform: translateX(-36vw) translateY(-43vh) scale(.93)
    }

    29.1666666667% {
        transform: translateX(19vw) translateY(-9vh) scale(.26)
    }

    33.3333333333% {
        transform: translateX(-32vw) translateY(-28vh) scale(.77)
    }

    37.5% {
        transform: translateX(33vw) translateY(34vh) scale(.78)
    }

    41.6666666667% {
        transform: translateX(-42vw) translateY(-46vh) scale(.67)
    }

    45.8333333333% {
        transform: translateX(19vw) translateY(-47vh) scale(.92)
    }

    50% {
        transform: translateX(9vw) translateY(-38vh) scale(.56)
    }

    54.1666666667% {
        transform: translateX(-24vw) translateY(7vh) scale(.41)
    }

    58.3333333333% {
        transform: translateX(42vw) translateY(-6vh) scale(.59)
    }

    62.5% {
        transform: translateX(-39vw) translateY(-48vh) scale(.43)
    }

    66.6666666667% {
        transform: translateX(-10vw) translateY(-45vh) scale(.81)
    }

    70.8333333333% {
        transform: translateX(-46vw) translateY(48vh) scale(.94)
    }

    75% {
        transform: translateX(49vw) translateY(22vh) scale(.55)
    }

    79.1666666667% {
        transform: translateX(32vw) translateY(5vh) scale(.61)
    }

    83.3333333333% {
        transform: translateX(43vw) translateY(-14vh) scale(.31)
    }

    87.5% {
        transform: translateX(33vw) translateY(-23vh) scale(.78)
    }

    91.6666666667% {
        transform: translateX(5vw) translateY(-23vh) scale(.95)
    }

    95.8333333333% {
        transform: translateX(-33vw) translateY(-10vh) scale(.95)
    }

    100% {
        transform: translateX(41vw) translateY(42vh) scale(.37)
    }
}

@keyframes drift {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes flash {
    0%,100%,30% {
        opacity: 0;
        box-shadow: 0 0 0 0 #fff
    }

    5% {
        opacity: 1;
        box-shadow: 0 0 2vw .4vw #fff
    }
}