@keyframes opacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.particle-wrap {
	position: fixed;
	inset: 0;
	pointer-events: none;

	.particle {
		position: absolute;
		background: #fff;
		border-radius: 50%;
		opacity: 0.7;
		pointer-events: none;
	}
}

@keyframes move1 {
	0% { transform: translate(0, 0); }
	100% { transform: translate(100vw, 100vh); }
}
@keyframes move2 {
	0% { transform: translate(0, 0); }
	100% { transform: translate(-100vw, 100vh); }
}
@keyframes move3 {
	0% { transform: translate(0, 0); }
	100% { transform: translate(50vw, -100vh); }
}
@keyframes move4 {
	0% { transform: translate(0, 0); }
	100% { transform: translate(-50vw, -100vh); }
}