@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss" theme(static);
@import "./main.css";
@import "./sections/header.css";
@import "./front-page.css";
@import "./category.css";
@import "./single.css";
@import "./page.css";
@import "./faq.css";
@import "./AiAssistant.css";
@import "./sections/footer.css";
@import "./animation.css";


@source "../views/";
@source "../../app/";
