@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss" theme(static);

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background: #000;
	color: #fff;
	font-family: "Lato", sans-serif;
  	font-size: 16px;
	line-height: 1.5;
	
	@media (max-width: 767px) {
        font-size: 14px;
    }
}

a {text-decoration: none;}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

h1 {font-size: 60px;}
h2 {font-size: 50px;}
h3 {font-size: 40px;}
h4 {font-size: 30px;}
h5 {font-size: 20px;}
h6 {font-size: 10px;}

.center {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
  position: relative;
  z-index: 3;
}

.h-767 {display: none !important;}
.s-767 {display: block !important;}

.ic-hexagon {
	width: 60px;
	height: 60px;
	position: relative;
	clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	background: #f0f0f0;
	cursor: pointer;
	display: block;
	transition: all 0.3s ease;

	&::before {
		content: "";
		position: absolute;
		top: 3px; left: 3px; right: 3px; bottom: 3px;
		clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		background: #000;
		z-index: 1;
	}
}

.scroll-horizontal {
	width: 100%;
	overflow-x: auto;
	padding: 0 15px;

	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.pagination {
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-size: 18px;
    font-weight: bold;

    a {transition: all 0.3s;}

    .current {color: red;}
    a:hover {color: red;}

    .prev, .next {font-size: 20px;}
}

.main-content {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 0 30px;
    align-items: start;
    margin-top: 50px;

    aside {
        position: sticky;
        top: 50px;
    }

    @media (max-width: 991px) {
        margin-top: 25px;
    }

    @media (max-width: 767px) {
        grid-template-columns: 35px 1fr;
        gap: 0 15px;
    }
}

.single-post, .archive {
	background: url(../images/home-bg.jpg) no-repeat center center;
	background-size: cover;

    #app {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -500px;
            left: -500px;
            width: 1500px;
            height: 1500px;
            z-index: 2;
            border-radius: 50%;
            background: radial-gradient(rgba(1, 21, 169, 0.5), transparent 70%);
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -2;
            background: rgba(0,0,0,.8);
        }
    }
}

@import "./sections/header.css";
@import "./front-page.css";
@import "./category.css";
@import "./single.css";
@import "./page.css";
@import "./sections/footer.css";

@source "../views/";
@source "../../app/";
