@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss" theme(static);

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background: #000;
	color: #fff;
	font-family: "Lato", sans-serif;
  	font-size: 16px;
	line-height: 1.5;
	
	@media (max-width: 767px) {
        font-size: 14px;
    }
}

a {text-decoration: none;}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

h1 {font-size: 60px;}
h2 {font-size: 50px;}
h3 {font-size: 40px;}
h4 {font-size: 30px;}
h5 {font-size: 20px;}
h6 {font-size: 10px;}

.center {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
  position: relative;
  z-index: 3;
}

.h-767 {display: none !important;}
.s-767 {display: block !important;}

.ic-hexagon {
	width: 60px;
	height: 60px;
	position: relative;
	clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	background: #f0f0f0;
	cursor: pointer;
	display: block;
	transition: all 0.3s ease;

	&::before {
		content: "";
		position: absolute;
		top: 10px; left: 10px; right: 10px; bottom: 10px;
		clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		background: #000;
		z-index: 1;
	}
}

@import "./header.css";
@import "./home.css";
@import "./category.css";
@import "./post.css";
@import "./footer.css";
@import "./animation.css";

@source "../views/";
@source "../../app/";
