.archive {
    .main {
        align-items: start;
        padding-top: 50px;
        .center {flex-direction: column;}
    }

    @media (max-width: 1200px) {
        #app:before {
            right: 0;
            left: 0;
            width: 100%;
        }
    }
}

.post-category {
    border-radius: 30px;
    padding: 30px;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);

    & + .post-category {margin-top: 30px;}

    .article {
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        display: flex;
        gap: 0 30px;
        font-weight: 300;
        border-bottom: 1px solid rgba(255,255,255,.1);

        .image {
            width: 100%;
            max-width: 200px;
            min-width: 200px;
            border-radius: 15px;
            overflow: hidden;
            display: flex;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        h2 {
            
            font-size: 20px;
            line-height: 1.2;

            a {
                color: #369eed;
                transition: all 0.3s ease;
                &:hover {color: #ff354c;}
            }
        }

        .descr {
            margin: 15px 0;
        }

        .read-more {
            display: inline-block;
            line-height: 0;
            color: #369eed;

            svg {
                width: 30px;
                height: 30px;
                transition: all 0.3s ease;
            }

            &:hover {color: #ff354c;}
        }

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &:nth-child(1) {box-shadow: 0 -2px 10px rgba(255, 53, 76, 0.5);}   
    &:nth-child(2) {box-shadow: 0 -2px 10px rgba(255, 153, 0, 0.5);}   
    &:nth-child(3) {box-shadow: 0 -2px 10px rgba(255, 238, 0, 0.5);}   
    &:nth-child(4) {box-shadow: 0 -2px 10px rgba(40, 159, 12, 0.5);}   
    &:nth-child(5) {box-shadow: 0 -2px 10px rgba(0, 141, 240, 0.5);}   
    &:nth-child(6) {box-shadow: 0 -2px 10px rgba(0, 99, 238, 0.5);} 
    &:nth-child(8) {box-shadow: 0 -2px 10px rgba(255, 53, 76, 0.5);}  
    &:nth-child(9) {box-shadow: 0 -2px 10px rgba(255, 153, 0, 0.5);}  
    &:nth-child(10) {box-shadow: 0 -2px 10px rgba(255, 238, 0, 0.5);}  
    &:nth-child(11) {box-shadow: 0 -2px 10px rgba(40, 159, 12, 0.5);}  
    &:nth-child(12) {box-shadow: 0 -2px 10px rgba(0, 141, 240, 0.5);}  
    &:nth-child(13) {box-shadow: 0 -2px 10px rgba(0, 99, 238), 0.5;}

    &.post-gallery {box-shadow: 0 -2px 10px rgba(130, 115, 233);}

    @media (max-width: 991px) {
        border-radius: 20px;
        padding: 20px;

        .article {
            gap: 0 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }

    @media (max-width: 767px) {
        .article {
            flex-direction: column;
            gap: 20px 0;

            .image {
                max-width: inherit;
                width: 100%;
                max-height: 300px;
            }
        }
    }

    @media (max-width: 360px) {
        padding: 10px;
    }
}

.category-wentylacja .post-category {
    article h2 a,
    article .read-more {color: #6caeed;}
}

.category-fotowoltaika .post-category {
    article h2 a,
    article .read-more {color: #01d225;}
}

.category-projektowanie .post-category {
    article h2 a,
    article .read-more {color: #b700ff;}
}

.category-ogrzewanie .post-category {
    article h2 a,
    article .read-more {color: #ff4c00;}
}

.category-automatyzacja .post-category {
    article h2 a,
    article .read-more {color: #ffb300;}
}

.category-elektryka .post-category {
    article h2 a,
    article .read-more {color: #ffdb00;}
}

.categories-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    zoom: 0.6;
    transition: all 0.3s;
    max-height: 120px;

    &.is-sticky {
        background-color: rgba(9, 66, 92, 0.5);
        backdrop-filter: blur(5px);
        a span {display: none;}
    }

    a {
        display: block;
        position: relative;
        user-select: none;

        .image {transition: all 0.3s;}

        span {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            white-space: nowrap;
            transition: all 0.3s ease;
            opacity: 0;
            text-transform: uppercase;
        }

        &:hover span {
            opacity: 1;
            bottom: 100%;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 79px;
            right: 0;
            height: 2px;
            background: #37b4ff;
            margin-top: -1px;
            z-index: -1;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 79px;
            left: 0;
            height: 2px;
            background: #37b4ff;
            margin-top: -1px;
            z-index: -1;
        }
    }

    .active {
        .image {zoom: 1.5;}
        
        a span {
            opacity: 1;
            bottom: 100%;
            font-weight: bold;
        }
        a:before {right: 115px;}
        a:after {left: 115px;}
    }

    .image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 550px) {
        a .image {max-width: 70px;}
    }
}

.hexagon-categories {
    position: sticky;
    & + ul {margin-top: 20px;}
    li {position: relative;}
    li + li {margin-top: 20px;}
    li a:first-child {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;
        border-radius: 30px;
        padding: 5px 10px;
        color: #000;
        font-size: 13px;
        transition: all 0.3s ease;
        white-space: nowrap;
        z-index: -1;
        pointer-events: none;
    }
    li:hover a:first-child {
        left: 110%;
        opacity: 1;
        margin-left: 40px;
    }
    li:hover .ic-hexagon,
    li.active .ic-hexagon {transform: scale(1.2);}

    li:nth-child(1) a { background: #ff354c; } 
    li:nth-child(2) a { background: #ff9900; }
    li:nth-child(3) a { background: #ffee00; } 
    li:nth-child(4) a { background: #289f0c; } 
    li:nth-child(5) a { background: #008df0; }
    li:nth-child(6) a { background: #0063ee; } 

    li:nth-child(8) a { background: #ff354c; } 
    li:nth-child(9) a { background: #ff9900; }
    li:nth-child(10) a { background: #ffee00; } 
    li:nth-child(11) a { background: #289f0c; } 
    li:nth-child(12) a { background: #008df0; }
    li:nth-child(13) a { background: #0063ee; } 

    li[data-id="gallery"] a { background: #8273e9; } 

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        z-index: -1;
        width: 1px;
        background: #37b4ff;
    }

    @media (max-width: 767px) {
        zoom: 0.85;
    }
}

.post-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    a {
        display: flex;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s;
        border: 2px solid #685996;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {transform: scale(1.03);}
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        a {border-radius: 10px;}
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
    }
}