.header {
	padding: 20px 0;
	text-align: center;
	position: relative;
	z-index: 3;

	.center {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.brand {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
}