.page {
	.e-content {
		padding: 30px;
		border-radius: 30px;
		margin-top: 40px;
		overflow: hidden;
        font-weight: 300;
        font-size: 18px;
        border: 1px solid rgba(255, 255, 255, .1);

        img {border-radius: 15px;}
        .aligncenter {margin: 0 auto;}
        .alignleft {float: left; margin: 15px 15px 15px 0;}
        .alignright {float: right; margin: 15px 0 15px 15px;}

        h1, h2, h3, h4, h5, h6 {
            margin: 30px 0;
        }

        h1 {font-size: 40px;}
        h2 {font-size: 35px;}
        h3 {font-size: 25px;}
        h4 {font-size: 15px;}
        h5 {font-size: 10px;}
        h6 {font-size: 5px;}

        ul, ol {
            font-weight: 300;
            font-size: 15px;
            margin: 30px 0 30px 30px;
            list-style-type: disc;
            li + li {margin-top: 10px;}
        }

        ol {
            list-style-type: decimal;
        }

        b, strong {
            font-weight: bold;
        }

        p {
            margin: 20px 0;
        }

        a {
            color: #1100c9 !important;
            text-decoration: underline;
            &:hover {text-decoration: none;}
        }

        p:first-child, 
        h1:first-child, 
        h2:first-child, 
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child,
        ul,
        ol {margin-top: 0;}

        p:last-child, 
        h1:last-child, 
        h2:last-child, 
        h3:last-child,
        h4:last-child,
        h5:last-child,
        h6:last-child,
        ul,
        ol {margin-bottom: 0;}

        @media (max-width: 767px) {
            padding: 20px;
            border-radius: 20px;
            font-size: 15px;

            p {
                margin: 15px 0;
            }

            h1, h2, h3, h4, h5, h6 {
                margin: 15px 0;
            }

            h1 {font-size: 35px;}
            h2 {font-size: 30px;}
            h3 {font-size: 20px;}
            h4 {font-size: 10px;}
            h5 {font-size: 7px;}
            h6 {font-size: 5px;}

            ul, ol {
                font-weight: 300;
                font-size: 15px;
                margin: 15px 0 15px 14px;
            }
        }
	}
}

.page-header {
    padding-top: 50px;

    h1 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
    }

    .image {
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 20px;
        overflow: hidden;
        max-height: 400px;
        display: flex;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}