#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: transparent;

    .center {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    display: inline-block;
    position: relative;
    top: -3px;

    svg {
        width: 95px;
        height: 65px;
    }
}

.nav {
    ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    a {
        color: #fff;
        text-transform: uppercase;
    }

    @media (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 991;
        background: #000;
        overflow: hidden;
        padding: 20px 0;
        transition: all 0.3s;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ul {
            flex-direction: column;
            align-items: center;
            text-align: center;

            a {
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}

.btn-nav {
    display: none;

    @media (max-width: 767px) {
        display: inline-block;
        width: 30px;
        height: 21px;
        background: none;
        cursor: pointer;
        border: none;
        outline: none;

        span {
            display: block;
            height: 3px;
            width: 100%;
            border-radius: 3px;
            background: #fff;
            transition: all 0.3s;
        }

        span + span {margin-top: 5px;}
    }
}

.nav-active .nav {
    display: flex;
    animation: opacity 1s;
}
.nav-active #header .logo {z-index: 992;}
.nav-active .btn-nav {
    position: relative;
    z-index: 992;

    span {
        position: absolute;
        top: 50%;
        margin-top: -1.5px;
        transform-origin: center;
    }
    span:first-child {transform: rotate(45deg);}
    span:last-child {transform: rotate(-45deg);}
    span:nth-child(2) {display: none;}
}

#header.header-black {
    background: #000;
}
