.header {
	padding: 20px 0;
	text-align: center;
	position: relative;
	z-index: 5;

	.ic-hexagon {
		zoom: 0.6;
		background-color: #007edb;
		&:hover {transform: scale(1.2);}
	}
	.account-installator .ic-hexagon {background-color: #f22820;}

	.center {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.brand {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media (max-width: 767px) {
		.brand {
			font-size: 15px;
			max-width: 170px;
		}
	}
}

.menu-open {
	width: 30px;
	height: 25px;
	background: none;
	cursor: pointer;
	position: absolute;
	top: 26px;
	right: 15px;

	span {
		display: block;
		height: 2px;
		width: 100%;
		background: #fff;
		border-radius: 5px;
		transform-origin: center;
		transition: all 0.3s ease;
	}
	span + span {margin-top: 8px;}

	@media (max-width: 1200px) {
		top: 100%;
	    right: 50%;
	    transform: translateX(50%);
	    margin-top: -13px;
	}

	@media (max-width: 767px) {
		margin-top: -6px;
	}
}

.menu-opened {
	.menu-open span {
		position: absolute;
		top: 50%;
		margin-top: -1px;

		&:nth-child(1) {transform: rotate(45deg);}
		&:nth-child(2) {transform: rotate(-45deg);}
		&:nth-child(3) {display: none;}
	}
}

.nav-primary {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 999;
	background-color: #000;
	min-width: 250px;
	display: flex;
    align-items: center;
    padding: 20px;
	transition: all 0.3s ease;
	transform: translateX(-250px);

	.menu-menu-container {
		width: 100%;
		text-align: left;
	}

	a {
		font-weight: bold;
		font-size: 17px;
		padding: 5px 0;
		display: block;
		transition: all 0.3s ease;
		&:hover {color: red;}
	}
}
.menu-opened .nav-primary {transform: translateX(0);}
.logged-in .nav-primary {top: 32px;}